body {
  background: #111827;
}

.hero-area {
  padding-top: 40px;
}

.hero-area .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.hero-area .sidebar .open-menu {
  position: absolute;
  color: white;
  top: 10px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
  display: none;
}

@media (max-width: 780px) {
  .hero-area .sidebar .open-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero-area .sidebar .not-view {
  display: none;
}

.hero-area .sidebar .close-menu {
  position: fixed;
  color: white;
  cursor: pointer;
  top: 30px;
  right: 20px;
  z-index: 101;
}

.hero-area .sidebar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-area .sidebar .logo img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero-area .sidebar .logo h1 {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.hero-area .sidebar .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 780px) {
  .hero-area .sidebar .header {
    display: none;
  }
}

.hero-area .sidebar .header .right-menu {
  padding: 12px 24px;
  background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
  border-radius: 5px;
}

.hero-area .sidebar .header .right-menu a {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #f9fafb;
  text-decoration: none;
}

.hero-area .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 989px) {
  .hero-area .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
}

.hero-area .content-l {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 989px) {
  .hero-area .content-l {
    max-width: 548px;
  }
}

.hero-area .content-l h1 {
  font-weight: bold;
  font-size: 58px;
  line-height: 84px;
  letter-spacing: 0.02em;
  background: linear-gradient(135deg, #2563eb 20%, #d946ef 70%);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  margin-bottom: 30px;
}

@media (max-width: 989px) {
  .hero-area .content-l h1 {
    font-size: 48px;
    margin-bottom: 15px;
    text-align: center;
  }
}

.hero-area .content-l h3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #e5e7eb;
  opacity: 0.8;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
}

@media (max-width: 989px) {
  .hero-area .content-l h3 {
    text-align: center;
  }
}

.hero-area .content-l .join-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 989px) {
  .hero-area .content-l .join-us {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero-area .content-l .join-us .watch-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
}

.hero-area .content-l .join-us .watch-video i {
  color: #ffffff;
  font-size: 25px;
  margin-right: 10px;
}

.hero-area .content-l .join-us .watch-video button {
  border: none;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.hero-area .content-l .join-us a {
  background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
  border-radius: 6px;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #f9fafb;
  text-decoration: none;
}

.hero-area .content-l .join-us h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #f9fafb;
}

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media (max-width: 780px) {
  .navigation-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
}

.navigation-menu li {
  padding-right: 60px;
}

.navigation-menu li:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #006c76;
          text-decoration-color: #006c76;
}

@media (max-width: 780px) {
  .navigation-menu li {
    padding-right: 10px;
    margin: 30px 0;
  }
}

.navigation-menu li a {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #f9fafb;
  text-decoration: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: #006c76;
  z-index: 100;
}

.view-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.closed-menu {
  display: none;
}

.our-service {
  margin-top: 120px;
}

.our-service .service-title {
  padding: 0 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

.our-service .service-title h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  color: #ffffff;
  margin-bottom: 30px;
}

.our-service .service-title h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.our-service .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.our-service .wrapper .item {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  -webkit-box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
          box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  padding: 30px 23px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 370px;
}

.our-service .wrapper .item .item-img1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#8a7fd9), to(#402f8f));
  background: linear-gradient(180deg, #8a7fd9 0%, #402f8f 100%);
  border-radius: 55px;
  padding: 18px;
}

.our-service .wrapper .item .item-img2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#d97f95), to(#923250));
  background: linear-gradient(180deg, #d97f95 0%, #923250 100%);
  border-radius: 55px;
  padding: 18px;
}

.our-service .wrapper .item .item-img3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#84d8ed), to(#4292bb));
  background: linear-gradient(180deg, #84d8ed 0%, #4292bb 100%);
  border-radius: 55px;
  padding: 18px;
}

.our-service .wrapper .item .item-img4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#92efc3), to(#2f8f5b));
  background: linear-gradient(180deg, #92efc3 0%, #2f8f5b 100%);
  border-radius: 55px;
  padding: 18px;
}

.our-service .wrapper .item .item-img5 {
  background: -webkit-gradient(linear, left top, left bottom, from(#bc7fd9), to(#923283));
  background: linear-gradient(180deg, #bc7fd9 0%, #923283 100%);
  border-radius: 55px;
  padding: 18px;
}

.our-service .wrapper .item .item-img6 {
  background: -webkit-gradient(linear, left top, left bottom, from(#8684ed), to(#4247bb));
  background: linear-gradient(180deg, #8684ed 0%, #4247bb 100%);
  border-radius: 55px;
  padding: 18px;
}

.our-service .wrapper .item h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  margin-top: 20px;
}

.our-service .wrapper .item h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 17px;
}

.our-service .wrapper .item a {
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 24px;
}

.our-service .wrapper .item a i {
  margin-left: 10px;
}

.section3 {
  margin-top: 120px;
}

.section3 .sec3-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 989px) {
  .section3 .sec3-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section3 .sec3-content .sec3-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

@media (max-width: 989px) {
  .section3 .sec3-content .sec3-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section3 .sec3-content .sec3-info h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  color: #ffffff;
  margin-bottom: 30px;
}

.section3 .sec3-content .sec3-info h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 30px;
}

.section3 .sec3-content .sec3-info a {
  text-decoration: none;
  padding: 7px 15px;
  background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

@media (max-width: 989px) {
  .section3 .sec3-content .sec3-info h1 {
    text-align: center;
    margin-bottom: 15px;
    padding: 0 20px;
  }
  .section3 .sec3-content .sec3-info h2 {
    text-align: center;
    margin-bottom: 15px;
    padding: 0 20px;
  }
}

.section4 {
  margin-top: 120px;
}

.section4 .sec4-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 989px) {
  .section4 .sec4-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section4 .sec4-content .sec4-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

@media (max-width: 989px) {
  .section4 .sec4-content .sec4-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section4 .sec4-content .sec4-info h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  color: #ffffff;
  margin-bottom: 30px;
}

.section4 .sec4-content .sec4-info h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 30px;
}

.section4 .sec4-content .sec4-info a {
  text-decoration: none;
  padding: 7px 15px;
  background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

@media (max-width: 989px) {
  .section4 .sec4-content .sec4-info h1 {
    text-align: center;
    margin-bottom: 15px;
    padding: 0 20px;
  }
  .section4 .sec4-content .sec4-info h2 {
    text-align: center;
    margin-bottom: 15px;
    padding: 0 20px;
  }
}

.section5 {
  margin-top: 120px;
}

.section5 .section5-title {
  padding: 0 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

.section5 .section5-title h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  color: #ffffff;
  margin-bottom: 30px;
}

.section5 .section5-title h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.section5 .section5-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1220px) {
  .section5 .section5-content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.section5 .section5-content .sec5-item {
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  -webkit-box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
          box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
  padding: 25px 0;
  min-width: 270px;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.section5 .section5-content .sec5-item .sec5-item-img {
  -webkit-box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
          box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 54.2058px;
  -webkit-transform: rotate(-4.08deg);
          transform: rotate(-4.08deg);
}

.section5 .section5-content .sec5-item .sec5-item-img img {
  width: 100%;
  height: auto;
}

.section5 .section5-content .sec5-item h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
}

.section5 .section5-content .sec5-item h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.section5 .section5-content .sec5-item .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.section5 .section5-content .sec5-item .links a {
  padding: 0 5px;
}

.subscribe {
  margin-top: 120px;
}

.subscribe .subscribe-card {
  padding-bottom: 40px;
  background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
  -webkit-box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
          box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
  border-radius: 34px;
}

.subscribe .subscribe-card .subscribe-title {
  padding: 0 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  padding: 50px 0;
}

.subscribe .subscribe-card .subscribe-title h1 {
  font-weight: bold;
  font-size: 42px;
  line-height: 55px;
  color: #ffffff;
  margin-bottom: 30px;
}

.subscribe .subscribe-card .subscribe-title h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

@media (max-width: 989px) {
  .subscribe .subscribe-card .subscribe-title {
    padding: 30px 40px;
  }
}

.subscribe .subscribe-card .subscribe-title h1,
.subscribe .subscribe-card .subscribe-title h2 {
  margin-bottom: 15px;
}

.subscribe .subscribe-card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  min-height: 80px;
  max-width: 860px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 254, 255, 0.0348)), to(rgba(255, 255, 255, 0.048)));
  background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
  -webkit-box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
          box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
  border-radius: 70px;
}

@media (max-width: 989px) {
  .subscribe .subscribe-card form {
    max-width: 728px;
  }
}

.subscribe .subscribe-card form input[type='email'] {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  width: 100%;
  padding-left: 40px;
  vertical-align: middle;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}

.subscribe .subscribe-card form input[type='email']::-webkit-input-placeholder {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.9;
}

.subscribe .subscribe-card form input[type='email']:-ms-input-placeholder {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.9;
}

.subscribe .subscribe-card form input[type='email']::-ms-input-placeholder {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.9;
}

.subscribe .subscribe-card form input[type='email']::placeholder {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.9;
}

.subscribe .subscribe-card form button {
  border: none;
  background: linear-gradient(90.35deg, #2563eb 0.36%, #d946ef 201.02%);
  opacity: 0.9;
  border-radius: 70px;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  margin-right: 10px;
}

.subscribe .subscribe-card form button i {
  padding-right: 5px;
}

.close {
  display: none;
}

.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-nav ul {
  list-style: none;
}

footer .footer-nav ul .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-nav ul .logo h1 {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

footer .footer-nav ul .nav-item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-nav ul .nav-item a {
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
}

footer .footer-nav ul .nav-item a:hover {
  color: #007bb8;
}

footer .footer-nav ul .nav-item i {
  color: white;
}

footer .footer-nav ul .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-nav ul .footer-links .footer-link-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 254, 255, 0.0145)), to(rgba(255, 255, 255, 0.02)));
  background: linear-gradient(180deg, rgba(254, 254, 255, 0.0145) 0%, rgba(255, 255, 255, 0.02) 100%);
  margin-right: 15px;
}

footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 0;
}

footer .footer-info .footer-info-l {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.8);
}

footer .footer-info .footer-info-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-info .footer-info-r h1 {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin: 0 25px;
}

footer .footer-info .footer-info-r h1 a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

footer .footer-info .footer-info-r h1 a:hover {
  color: #2563eb;
  border-bottom: 2px solid #d946ef;
}

footer .footer-nav-mobile {
  display: none;
}

@media (max-width: 780px) {
  footer .footer-nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-nav-mobile .logo {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 780px) {
  footer .footer-nav-mobile .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer .footer-nav-mobile .logo h1 {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

footer .footer-nav-mobile .logo .footer-links-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px;
}

footer .footer-nav-mobile .logo .footer-links-mobile .footer-link-mobile-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 254, 255, 0.0145)), to(rgba(255, 255, 255, 0.02)));
  background: linear-gradient(180deg, rgba(254, 254, 255, 0.0145) 0%, rgba(255, 255, 255, 0.02) 100%);
  margin-right: 35px;
}

footer .footer-nav-mobile .footer-nav-mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-nav-mobile .footer-nav-mobile-menu .footer-nav-mobile-menu-item {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #534c6d;
}

footer .footer-nav-mobile .footer-nav-mobile-menu .footer-nav-mobile-menu-item button {
  border: none;
  cursor: pointer;
  background: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.8);
}

footer .footer-nav-mobile .footer-nav-mobile-menu .footer-nav-mobile-menu-item ul {
  position: relative;
}

footer .footer-nav-mobile .footer-nav-mobile-menu .footer-nav-mobile-menu-item ul i {
  color: white;
  position: absolute;
  top: 0;
  right: 20px;
}

footer .footer-nav-mobile .footer-nav-mobile-menu .footer-nav-mobile-menu-item li {
  margin-bottom: 10px;
}

footer .footer-nav-mobile .footer-nav-mobile-menu .footer-nav-mobile-menu-item li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

@media (max-width: 780px) {
  footer .footer-nav {
    display: none;
  }
}

.container {
  width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1220px) {
  .container {
    width: 979px;
  }
}

@media (max-width: 989px) {
  .container {
    width: 768px;
  }
}

@media (max-width: 780px) {
  .container {
    width: 600px;
  }
}
/*# sourceMappingURL=main.css.map */